<div class="bg-white shadow-md p-6 rounded-lg">
  <div class="bg-white shadow-md p-6 rounded-lg">
    <div class="bg-blue-100 border-b ">
      <header class="md:flex md:items-center md:justify-between p-4 pb-0 shadow-lg md:pb-4">
        <div class="flex justify-between items-center w-full">
          Welcome to Futurisk Plus
        </div>
      </header>
    </div>

    <div class="bg-grey-50 border-b mt-4">
      <div class="flex">
        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCf0eN5BhqnoN5wqSV97Mp246uIL0SCux8-1qMpxiUsg&s" alt="iLink logo"></div>
        <div class="ml-4">
          <div>Employee Name:{{empusername}}</div>
          <div>Employee Id:{{empid}}</div>
        </div>
      </div>
    </div>
  </div>



  <div class="md:flex">
    <aside class="md:w-1/4 p-4">
      <h2>Group Mediclaim Policy</h2>
    </aside>

    <main class="md:w-3/4 p-4">
      <h2>Your Policies</h2>
      <ul>
        <li *ngFor="let policy of policies">
          <div>Policy ID: {{ policy.policyId }}</div>
          <div>Policy Name: {{ policy.policyName }}</div>
          <div>Insurer: {{ policy.policyInsurer }}</div>
          <div>TPA: {{ policy.policyTpa }}</div>
          <div>Policy Period:{{ policy.policyFrom  }} to {{ policy.policyTo }}</div>
        </li>
      </ul>
    </main>
    <aside class="md:w-1/4 p-4">
      <div class="mt-4">
        <h3>Help Center</h3>
        <ul>
          <li><a href="#">How to Claim</a></li>
          <li><a href="#">Policy Coverage</a></li>
          <li><a href="#">Contact Support</a></li>
        </ul>
      </div>
      <div class="mt-4">
        <h3>Social Media</h3>
        <ul>
          Social media icons
        </ul>
      </div>
    </aside>
  </div>

  <footer class="text-center mt-4">
  </footer>
</div>
