<nav class="navbar mb-6">
  <div class="flex justify-between p-4 bg-blue-700 text-white ">
    <div class="logo">
      <h1>Futurisk Plus
      </h1>
    </div>
    <ul class="nav-links">
      <a routerLink="/home" class="mx-4 hover:text-gray-300 transition duration-300">Home</a>
      <a routerLink="/payment" class="mx-4 hover:text-gray-300 transition duration-300">Payment</a>
      <ng-container *ngIf="!isAuthenticated()">
        <a routerLink="/login" class="mx-4 hover:text-gray-300 transition duration-300">Login</a>
      </ng-container>

      <ng-container *ngIf="isAuthenticated()">
        <a routerLink="/login" (click)="logout()" class="mx-4 hover:text-gray-300 transition duration-300">Logout</a>
      </ng-container>
    </ul>
  </div>
</nav>
